.SocialMediaWrapper {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}
/* Media Queries */
@media all and (max-width: 768px) {
  .SocialMediaWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
