footer {
  /* border: 4px yellow solid; */
}
.footerWrapper {
  font-size: 0.8em;
}
.imageWrapper {
  display: flex;
  justify-content: space-evenly;
}
.footerInnerWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footerContent {
  border: var(--colour-secondary) 1px solid;
  flex-grow: 1;
}

.tcWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

/* Media Queries */
@media all and (max-width: 768px) {
  .footerContent {
    width: 100%;
  }
  .imageWrapper {
    display: flex;
    justify-content: space-evenly;
  }
  /* .imgResponsive {
    width: 100%;
    height: auto;
  } */
}
