footer {
  /* border: 4px yellow solid; */
}
.footerWrapper {
  border: var(--colour-secondary) 1px solid;
  padding: 0.1em 0;
  font-size: 0.8em;
}
.imageWrapper {
  display: flex;
  justify-content: space-evenly;
}
.footerInnerWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footerContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLinksWrapper {
  display: flex;
  flex-direction: column;
}
.footerNavLinks {
  display: flex;
  list-style: none;
  align-items: center;
}
.footerNavLinks li a {
  color: var(--colour-secondary);
  text-decoration: none;
}
.footerNavLinks li a:hover {
  background-color: var(--colour-secondary);
  color: var(--colour-body);
}
.tcWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

/* Media Queries */
@media all and (max-width: 768px) {
  .footerContent {
    width: 100%;
  }
  .imageWrapper {
    display: flex;
    justify-content: space-evenly;
  }
  /* .imgResponsive {
    width: 100%;
    height: auto;
  } */
}
