.container {
  border: 10px solid green;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0.2em;
}

/* GA Helper classes */
.border-temp {
  border: 1px solid var(--colour-border-temp);
}
