* {
  box-sizing: border-box;
  margin: 0;
}
/* Create CSS variable */
:root {
  --colour-body: #fff4ec;
  --colour-primary: #ffd3b6;
  --colour-secondary: #c59691;
  --colour-flesh: #e68358;
  --colour-border-temp: rgba(255, 0, 0, 0.5);
  --body-height: 100vh;
}
body {
  display: flex;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  background-color: var(--colour-body);
  height: var(--body-height);
}
h1,
h2,
h3,
p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}
h1,
h2,
h3 {
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 6px;
  color: var(--colour-flesh);
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

section {
  background-color: white;
  padding-bottom: 1em;
}
.imgBorder {
  border: solid 1px var(--colour-flesh);
  padding: 0.3%;
}
.imgResponsive {
  background-color: white;
  width: 100%;
  height: auto;
  border: solid 1px var(--colour-flesh);
  padding: 1%;
}
