* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Create CSS variable */
:root {
  --colour-body-background: #fff4ec;
  --colour-border-temp: rgba(255, 0, 0, 0.5);
}
body {
  display: flex;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}
h1,
h2,
h3,
p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}
h1,
h2,
h3 {
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 6px;
}
