input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
.contactFormWrapper {
  display: flex;
  flex-direction: column;
}

.formInputWrapper {
  background-color: var(--colour-body);
  padding: 1em;
}
.contactFormWrapper input[type='text'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-shadow: none;
  border-radius: 1px;
  border: var(--colour-secondary) 1px solid;
}

.contactFormWrapper input[type='email'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-shadow: none;
  border-radius: 1px;
  border: var(--colour-secondary) 1px solid;
}
.contactFormWrapper textarea {
  width: 100%;
  resize: vertical;
  padding: 15px;
  margin: 10px 0;
  border-radius: 1px;
  border: 0;
  box-shadow: none;
  height: 150px;
  border: var(--colour-secondary) 1px solid;
}

.contactFormWrapperXX button {
  border: 0.1em solid #ffffff;
  padding: 0.3em 0.3em;
  border-radius: 0.2rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  font-family: inherit;
  font-size: 1em;
  transition: all 0.2s;
}
.contactFormWrapperXX button:hover {
  color: black;
  background-color: white;
}

.thankYou {
  padding: 1%;
  color: var(--colour-flesh);
}

.textMedium {
  font-size: 0.8em;
}
.textSmall {
  font-size: 0.6em;
}
